<h2 [ngClass]="{'currentUser': player.isCurrentPlayer }">{{player.name}}</h2>

<ul>
    <li *ngFor="let number of player.points">{{number}}</li>
  </ul>

<div *ngIf="player.id == authenticatorService.currentUserValue.email">
<card *ngFor="let card of player.cards" [card]="card" (movement)="onPlay($event)"></card>
</div>

<div *ngIf="player.id != authenticatorService.currentUserValue.email">
<upside-card *ngFor="let card of player.cards" (onGameUpdate)="onGameUpdate($event)"></upside-card>
</div>