<div class="dominowrapper" [ngClass]="{
   	'class1': isBoard,
	'class2': !isBoard
}">
	<div class="spacer"></div>
	<div class="domino" [ngClass]="getClass">
		<div (click)="play(true)" [className]="getClassLeft">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<hr />
		<div (click)="play(false)" [className]="getClassRight">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="spacer"></div>
</div>