<hello name="{{ domino?.id }}"></hello>
<p>
	Enter the game Id and start playing like craszy fucking bastard
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

	<div>
		<label for="gameId">
      Game Id
    </label>
		<input id="gameId" type="text" formControlName="gameId">
  </div>

		<button class="button" type="submit">Start</button>

</form>

<div class="player container">
	<div class="row">


		<player class="col-sm" *ngFor="let player of domino?.players" [player]="player" [gameId]="domino.id"
			(onGameUpdate)="onGameUpdate($event)">
			taetasetasetaset
			{{domino.id}}
		</player>


	</div>
</div>

<div class="board container">
	<div class="row">
		<card *ngFor="let card of  domino?.cards" [card]="card" [isBoard]="true"></card>
	</div>
</div>

<div class="sink container">
	Pick them up when you cannot play
	<div class="row">

		<upside-card *ngFor="let i of [].constructor(domino?.sink)" (onGameUpdate)="onGameUpdate($event)">

		</upside-card>

	</div>
</div>