<hello name="placeholder"></hello>
<p *ngIf="!domino">
	Enter the game Id and start playing like craszy fucking bastard
</p>

<form *ngIf="!domino" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

	<div>
		<label for="gameId">
			Game Id
		</label>
		<input id="gameId" type="text" formControlName="gameId">
	</div>

	<button class="btn btn-primary" type="submit">Join Game</button>

</form>

<div class="player container">
	<div class="row">


		<player class="col-sm" *ngFor="let player of domino?.players" [player]="player" [gameId]="domino.id"
			(onGameUpdate)="onGameUpdate($event)">
			{{domino.id}}
		</player>


	</div>
</div>

<div class="board container">
	<div class="row">
		<card *ngFor="let card of  domino?.cards" [card]="card" [isBoard]="true"></card>
	</div>
</div>

<div class="sink container">
	<div class="row">
		<div class="col-sm">
			<p>Pick them up when you cannot play</p>
		</div>
		<div class="col-sm">
			<button class="btn btn-danger" (click)="pick()">Cannot play</button>
		</div>
		<div class="col-sm">
			<button class="btn btn-primary" (click)="shuffle()">shuffle</button>
		</div>

	</div>
	<div class="row">

		<upside-card *ngFor="let i of [].constructor(domino?.sink)" (onGameUpdate)="onGameUpdate($event)"
			(click)="pick()">

		</upside-card>

	</div>
</div>